@media (min-width: 320px) and (max-width: 767px) {
  .location_wrap {
    width: 220px;
    height: 45px;
    background-color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    /* background-color: var(--third-color); */
    /* background-color: var(--fourth-color); */
    /* background-color: var(--fifth-color); */
    border-radius: 30px;
    border: 0;
    color: black;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
