/* background-color: var(--primary-color); */
/* background-color: var(--secondary-color); */
/* background-color: var(--third-color); */
/* background-color: var(--fourth-color); */
/* background-color: var(--fifth-color); */

@media (min-width: 320px) and (max-width: 767px) {
  .weather_page__wrap {
    display: flex;
  }

  .sidebar__wrap {
    border-right: 1px solid black;
    height: auto;
  }

  .time_list__wrap {
    height: 836px;
    /* height: calc(100vh - 60px); */

    /* border-top: 1px solid black; */
  }

  .right_bar_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .location__wrap {
    /* border-top: 1px solid black; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .go_back_button {
    margin-top: 10px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 30px;
    box-shadow: none;
    background-color: var(--primary-color);
  }

  .go_back_button:active {
    background-color: var(--accent-color);
  }

  .go_back_button_svg {
    stroke: #000;

    height: 30px;
    width: 40px;
  }

  .forecast_wrap {
    height: 150px;
    width: 100%;
  }
}
